<div [@routerTransition]>
  <app-page-header [heading]="'Transaction Details'" [icon]="'fa-table'"></app-page-header>
  <app-reports-template
    [tableHeadersArray]="['Terminal Name','Transaction Name', 'Response', 'Response Description', 'Log Date']" 
    [objectProps]="['TerminalName', 'TransactionName', 'Response', 'ResponseDescription', 'LogDate']" 
    [fileName] = "'Transaction-Details'"
    [service] = "'transaction-details'"
    ></app-reports-template>
</div>