<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
        <ul class="list-group">
            <a routerLink="/terminals-monitor" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <span> <i  class="fa fa-eye"></i>&nbsp;{{ 'Monitoring' }}</span>
            </a>
            <a routerLink="/transaction-monitor" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <span><i class="fa fa-money"></i>&nbsp;{{ 'Transactions' }}</span>
            </a>
            <a routerLink="/terminals-live-uptime" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Terminals Live Uptime' }}
            </a>
            <a routerLink="/terminals-inventory-status" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-money"></i>&nbsp;{{ 'Inventory Status' }}
            </a>
            <a routerLink="/issues-logs"  [routerLinkActive]="['router-link-active']" class="list-group-item">
                <span><i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Issues/Logs' }}</span>
            </a>
            <a routerLink="/terminals"  [routerLinkActive]="['router-link-active']" *ngIf="roleName==='Admin'" class="list-group-item">
            <span><i class="fa fa-tablet"></i>&nbsp;{{ 'Terminals' }}</span>
            </a>
            <a routerLink="/email-notifications"  [routerLinkActive]="['router-link-active']" *ngIf="roleName==='Admin'" class="list-group-item">
            <span><i class="fa fa-envelope"></i>&nbsp;{{ 'Email Notifications' }}</span>
            </a>

            <a routerLink="/users" [routerLinkActive]="['router-link-active']" *ngIf="roleName==='Admin'" class="list-group-item">
                <span><i class="fa fa-group"></i>&nbsp;{{ 'Users' }}</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('reports')">
                    <span><i class="fa fa-file-excel-o"></i>&nbsp; {{ 'Reports' }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'reports'">
                    <ul class="submenu">
                        <li>
                            <a
                            [routerLinkActiveOptions]= "{ exact: true }"
                            routerLink="/reports/audit-log" 
                            [routerLinkActive]="['router-link-active']"  
                            class="list-group-item"                      
                            >
                                <span>{{ 'Audit Log' }}</span>
                            </a>
                        </li>
                        <li>
                            <a 
                                routerLink="/reports/alert-logs" 
                                [routerLinkActive]="['router-link-active']" 
                                class="list-group-item" 
                                >
                                <span>{{ 'Alerts' }}</span>
                            </a>
                        </li>
                        <li>
                            <a 
                                routerLink="/reports/kiosk-details" 
                                [routerLinkActive]="['router-link-active']"  
                                class="list-group-item"
                                >
                                <span>{{ 'Kiosk Details' }}</span>
                            </a>
                        </li>
                        <li>
                            <a 
                                routerLink="/reports/kiosk-summary" 
                                [routerLinkActive]="['router-link-active']" 
                                class="list-group-item" 
                                >
                                <span>{{ 'Kiosk Summary' }}</span>
                            </a>
                        </li>
                        <li>
                            <a 
                                routerLink="/reports/transaction-details" 
                                [routerLinkActive]="['router-link-active']" 
                                class="list-group-item" 
                                >
                                <span>{{ 'Transaction Details' }}</span>
                            </a>
                        </li>
                        <li>
                            <a 
                                routerLink="/reports/transaction-summary" 
                                [routerLinkActive]="['router-link-active']"  
                                class="list-group-item"
                                >
                                <span>{{ 'Transaction Summary' }}</span>
                            </a>
                        </li>
                        <li>
                            <a 
                                routerLink="/reports/terminal-uptime" 
                                [routerLinkActive]="['router-link-active']" 
                                class="list-group-item" 
                                >
                                <span>{{ 'Terminals Uptime' }}</span>
                            </a>
                        </li>
                        <li>
                            <a 
                                routerLink="/reports/terminal-critical-logs" 
                                [routerLinkActive]="['router-link-active']"  
                                class="list-group-item"
                                >
                                <span>{{ 'Terminals Critical Logs' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
    
    
            <!-- <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('pages')">
                    <span><i class="fa fa-plus"></i>&nbsp; {{ 'Users' }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'pages'">
                    <ul class="submenu">
                        <li>
                            <a
                            [routerLinkActiveOptions]= "{ exact: true }"
                            routerLink="/users" 
                            [routerLinkActive]="['router-link-active']" 
                            *ngIf="roleName==='Admin'" 
                            >
                                <span>{{ 'Add/Update User' }}</span>
                            </a>
                        </li>
                        <li>
                            <a 
                                routerLink="/users/permissions" 
                                [routerLinkActive]="['router-link-active']"  
                                *ngIf="roleName==='Admin'"
                                >
                                <span>{{ 'Set User Permissions' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div> -->
        </ul>
    </nav>
    