<div class="page-wrap col-md-12">
  <app-date (reportsFetched)="onGetReportsData($event)" [serviceToBeCalled]="service"></app-date>
  <!-- <div class="row">
    <app-search   
      (filteredTerm)="onFilterData($event)">
    </app-search>
    <app-export-excel 
      [searchKeyWords]="searchTerm" 
      [dataToBeExported]="auditLogData" 
      [fileName]="fileName">
    </app-export-excel>
  </div> -->
  <app-search-and-export-excel
    [dataToBeExported]="auditLogData" 
    [fileName]="fileName"
    (filteredTerm)="onFilterData($event)"
  ></app-search-and-export-excel>
  
  <app-table 
    [tableHeaders]="tableHeadersArray" 
    [searchKeyWords]="searchTerm" 
    [inputData]="auditLogData" 
    [dataKeys]="objectProps"
    [errorMsg]="error">
  </app-table>
</div>
