.container {
  width: 100% !important;
}

body {
  letter-spacing: 0;
  background-color: #efefef!important;
  font-size: 13px;
  color: #556677 !important;
  font-family:'Roboto'

}

.col-md-3{
  max-width:20% !important;
  flex: 0 0 20% !important;

}

  .btn {
    &:hover, &:focus, &:active {
      outline: 0 !important;
    }
  }
  
  .card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
    &:not(.manual-flip):hover .card, &.hover.manual-flip .card {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
    &.static {
      &:hover .card, &.hover .card {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
      }
    }
  }
  
  /* flip the pane when hovered */
  
  /* flip speed goes here */
  
  .card {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
  }
  
  /* hide back of pane during swap */
  
  .front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  }
  
  .front {
    z-index: 2;
  }
  
  /* back, initially hidden pane */
  
  .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 3;
    .btn-simple {
      position: absolute;
      left: 0;
      bottom: 4px;
    }
  }
  
  /*        Style       */
  
  .card {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
    transform-style: preserve-3d;
    position: relative;
    transition: transform .5s;
    
  }
  .card-container{
  perspective: 800px;
  margin-bottom: 30px;
  }
  .card-container, .front, .back{
    width: 100%;
    height: 430px;
    border-radius: 4px;
    
    
  }
  .front, .back {
    width: 100%;
    height: 420px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    
  }
  .front{z-index:2}

  .card {
    .cover {
      height: 105px;
     
      border-radius: 4px 4px 0 0;
      img {
        width: 100%;
      }
    }
    *, *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;}
      
    .user {
      border-radius: 50%;
      display: block;
      height: 120px;
      margin: -55px auto 0;
      overflow: hidden;
      width: 120px;
      img {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 4px solid #FFFFFF;
        width: 100%;
      }
    }
    .content {
      background-color: rgba(0, 0, 0, 0);
      box-shadow: none;
      padding: 10px 20px 20px;
      .main {
        min-height: 180px;
      }
    }
    .back .content .main {
      height: 215px;
    }
    .name {
      font-size: 18px;
      line-height: 28px;
      margin: 10px 0 0;
      text-align: center;
      text-transform: capitalize;
    }
    h5 {
      margin: 5px 0;
      font-weight: 400;
      line-height: 20px;
    }
    .profession {
      color: #999999;
      text-align: center;
      margin-bottom: 30px;
    }
    .footer {
      border-top: 1px solid #EEEEEE;
      color: #999999;
      margin: 20px 0 0;
      padding: 10px 0 0;
      text-align: center;
      .devicestatus{
        background:#adb8c2;
        padding:5px 15px;
        position:relative;
        top:5px;
        border-radius:3px
        
        
        
        }

      .social-links {
        font-size: 18px;
        a {
          margin: 0 7px;
        }
      }
      .btn-simple {
        margin-top: -6px;
      }
    }
    .header {
      padding: 15px 20px;
      height: 105px;
    }
    .motto {
      border-bottom: 1px solid #EEEEEE;
      color: #999999;
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 10px;
      text-align: center;
    }
    .stats-container {
      width: 100%;
      margin-top: 50px;
    }
    .stats {
      display: block;
      float: left;
      width: 33.333333%;
      text-align: center;
      &:first-child {
        border-right: 1px solid #EEEEEE;
      }
      &:last-child {
        border-left: 1px solid #EEEEEE;
      }
      h4 {
        font-weight: 300;
        margin-bottom: 5px;
      }
      p {
        color: #777777;
      }
    }
  }
  
  /*      Just for presentation        */
  
  .title {
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
    small {
      font-size: 17px;
      color: #999;
      text-transform: uppercase;
      margin: 0;
    }
  }
  
  .space-30 {
    height: 30px;
    display: block;
  }
  
  .space-50 {
    height: 50px;
    display: block;
  }
  
  .space-200 {
    height: 200px;
    display: block;
  }
  
  .white-board {
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 60px 60px 20px;
  }
  
  .ct-heart {
    color: #F74933;
  }
  
  pre.prettyprint {
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
  }
  
  .atv, .str {
    color: #05AE0E;
  }
  
  .tag, .pln, .kwd {
    color: #3472F7;
  }
  
  .atn {
    color: #2C93FF;
  }
  
  .pln {
    color: #333;
  }
  
  .com {
    color: #999;
  }
  
  .btn-simple {
    opacity: .8;
    color: #666666;
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
      box-shadow: none;
      opacity: 1;
    }
    i {
      font-size: 16px;
    }
  }
  
  .navbar-brand-logo {
    padding: 0;
    .logo {
      border: 1px solid #333333;
      border-radius: 50%;
      float: left;
      overflow: hidden;
      width: 60px;
    }
  }
  
  .navbar .navbar-brand-logo .brand {
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
  }
  
  .navbar-default .navbar-brand-logo .brand {
    color: #555;
  }
  
  /*       Fix bug for IE      */
  
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front {
      -ms-backface-visibility: visible;
      backface-visibility: visible;
    }
    .back {
      -ms-backface-visibility: visible;
      backface-visibility: visible;
      visibility: hidden;
      -ms-transition: all 0.2s cubic-bezier(0.92, 0.01, 0.83, 0.67);
    }
    .front {
      z-index: 4;
    }
    .card-container {
      &:not(.manual-flip):hover .back, &.manual-flip.hover .back {
        z-index: 5;
        visibility: visible;
      }
    }
  }

  .header {
    z-index: 1030;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    -webkit-transition: 0.25s ease-in;
    -o-transition: 0.25s ease-in;
    transition: 0.25s ease-in;
    &[_ngcontent-c2] .navbar[_ngcontent-c2] {
      background: #3f51b5 !important;
    }
  }
  
  .sidebar[_ngcontent-c3] {
    background-color: #fff;
    transition: 0.25s ease-in;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }
  
  ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .sidebar .list-group a {
    background: #fff !important;
    color: #556677 !important;
    transition: 0.25s ease-in;
    font-weight: 500;
    text-transform: uppercase;
    &:hover {
      background: #eee !important;
    }
    &.router-link-active {
      background: #f5f5f5 !important;
      color: #3f51b5 !important;
    }
  }
  
  .front {
    .user {
      border: solid 6px #f0f0f0;
      background: #fff;
      padding: 45px 0;
      text-align: center;
      font-weight: bold;
    }
    .cover {
      //background: #88cb88 !important;
      
    }
  }
  
  .back .header {
    //background: #88cb88 !important;
    padding: 20px 0 !important;
    h5, .name {
      border: none !important;
      color: #fff !important;
    }
    box-shadow: none;
  }
  
  .front {
    .content .main {
      h3 {
        color: #456;
        text-transform: uppercase !important;
      }
      p {
        color: #789;
      }
    }
    .footer {
      margin: 0;
      padding: 5px !important;
      font-size: 11px;
      color: #fff !important;
      font-weight: bold;
    }
  }
  
  .back {
    .btn-sm {
      font-size: 11px;
      letter-spacing: 0.5px;
      float: right;
    }
    table td {
      padding: 10px 0;
      color: #789;
    }
  }
  
  .card-container {
    border-radius: 4px !important;
    }
  
  .back .header {
    border-radius: 4px 4px 0 0px !important;
    overflow: hidden;
  }
  .DMIcon-green{
    font-size: 35px;
    position:relative;
    top:-8px;
    color: green;
  }
  .DMIcon-red{
    font-size: 35px;
    position:relative;
    top:-8px;
    color: red;
  }
  .header {
    z-index: 1030;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    -webkit-transition: 0.25s ease-in;
    -o-transition: 0.25s ease-in;
    transition: 0.25s ease-in;
  }
  .front {
      .user {
          border: solid 6px #f0f0f0;
          background: #fff;
          padding: 45px 0;
          text-align: center;
          font-weight: bold;
      }
      // .cover {
      //     background: #88cb88 !important;
      // }
      .content {
          .main {
              h3 {
                  color: #456;
                  text-transform: uppercase !important;
              }
              p {
                  color: #789;
              }
          }
      }
      .footer {
          margin: 0;
          padding: 5px !important;
          font-size: 11px;
          color: #fff !important;
          font-weight: bold;
      }
 }
  .back {
      .header {
         // background: #88cb88 !important;
          padding: 20px 0 !important;
          box-shadow: none;
          border-radius: 4px 4px 0 0px !important;
          overflow: hidden;
          h5 {
              border: none !important;
              //color: @color_3 !important;
          }
          .name {
              border: none !important;
              //color: @color_3 !important;
          }
      }
      .btn-sm {
          font-size: 11px;
          letter-spacing: 0.5px;
          float: right;
      }
      table {
          td {
              padding: 10px 0;
              color: #789;
          }
      }
  }

  .table-responsive{background:#fff}
  .table-responsive{background:#fff; border-radius:3px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);}
  
  @media screen and (max-width: 1366px){
    p,  .back td{font-size:11px; padding:0; line-height:110%} table { td{font-size: 10px; }}

    
 
 .col-md-3{
max-width:25% !important;
flex: 0 0 25% !important;
}

 }
