<div [@routerTransition]>
    <div class="container">
        <div class="row">
            <div class="col-md-3" *ngFor="let terminal of monitoringData;let i=index">
                <div class="col-md-12 col-sm-12">
                    <div class="card-container manual-flip">
                        <div class="card">
                            <div class="front">
                                <div class="cover" [ngStyle]="{backgroundColor: getOverallTerminalStatusColor(terminal.overallTerminalStatus)}">
                                </div>
                                <div class="user">
                                    <i [ngClass]="getTerminalConnectionImageBasedOnDatabaseValue(terminal.status)" aria-hidden="true"></i>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">{{terminal.terminalName}}</h3>
                                        <p class="profession">
                                            <i style="color: blue" class="fa fa-home" aria-hidden="true"></i> &nbsp; {{terminal.branchName}}</p>
                                        <!--<p class="text-center">{{terminal.updateDate}}</p>-->
                                        <!-- <p class="text-center" *ngIf="terminal.overallTerminalStatus==0" style="font-size: 9px; color: red">*Note: In case of critical issue terminal will be inoperable.</p> -->
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Total Acc. Opening
                                                    </td>
                                                    <td>
                                                        {{accountOpeningCount}}
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Total Card dispense
                                                    </td>
                                                    <td>
                                                        {{cardDesposedCount}}
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Total Cash Deposit
                                                    </td>
                                                    <td>
                                                        {{totalCashDepositCount}}
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-200"></div>
    </div>
</div>