<div [@routerTransition]>
    <app-page-header [heading]="'Terminal'" [icon]="'fa-edit'"></app-page-header>
    
    <!-- <div class="row">
        <div class="col col-xl-6 col-lg-12">
          <div class="alert alert-success" *ngIf="success != '' ">
            <strong>Well done!</strong>
            {{success}}
          </div>
          <div class="alert alert-danger" *ngIf="error != '' ">
            <strong>Oh snap!</strong>
            {{error}}
          </div>
        </div>
      </div> -->
    <div class="col col-md-12">      
        <form (ngSubmit)="onTerminalFormSubmit()" #f="ngForm">
            <div class="form-group row">
              <label  class="col-md-2 col-form-label">Terminal Name:</label>
              <div class="col-md-7">
              <input 
                class="form-control"
                name="terminalName"
                required
                pattern="[a-zA-Z0-9 ]+" 
                ngModel
                maxlength="30"
                #terminalName="ngModel"
              >
            </div>
              <div class="form-control-feedback col-md-3" *ngIf="terminalName.errors && (terminalName.dirty || terminalName.touched)">
                <p style="color:red;" *ngIf="terminalName.errors.required">Required</p>                  
                <p style="color:red;" *ngIf="terminalName.errors.pattern">Only alphanumeric characters are allowed</p>
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-md-2 col-form-label">IP Address:</label>
              <div class="col-md-7">
              <input 
                class="form-control"
                name="ipAddress"
                required
                ngModel
                maxlength="50"
                #ipAddress="ngModel"
              >
            </div>
              <div class="form-control-feedback col-md-3" *ngIf="ipAddress.errors && (ipAddress.dirty || ipAddress.touched)">
                <p style="color:red;" *ngIf="ipAddress.errors.required">Required</p>
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-md-2 col-form-label">MAC Address:</label>
              <div class="col-md-7">
              <input 
                class="form-control"
                name="macAddress"
                required
                ngModel
                maxlength="50"
                #macAddress="ngModel"
              >
            </div>
              <div class="form-control-feedback col-md-3" *ngIf="macAddress.errors && (macAddress.dirty || macAddress.touched)">
                <p style="color:red;" *ngIf="macAddress.errors.required">Required</p>
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-md-2 col-form-label">Keep Alive Timer (minutes):</label>
              <div class="col-md-7">
              <input 
                class="form-control"
                name="keepAliveTimer"
                required
                pattern="[0-9]+" 
                ngModel
                maxlength="3"
                #keepAliveTimer="ngModel"
              >
            </div>
              <div class="form-control-feedback col-md-2" *ngIf="keepAliveTimer.errors && (keepAliveTimer.dirty || keepAliveTimer.touched)">
                <p style="color:red;" *ngIf="keepAliveTimer.errors.required">Required</p>                  
                <p style="color:red;" *ngIf="keepAliveTimer.errors.pattern">Only numeric characters are allowed</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">Region</label>
              <div class="col-md-7">
              <select 
                class="form-control" 
                (change)="onRegionChange($event.target.value)"   
                name="region"
                required
                ngModel
                >
                <option 
                  value="{{region.RegionID}}" 
                  *ngFor="let region of regions; let i =index"
                > {{region.RegionName}}
                </option>
              </select>
            </div>
            </div>
            <div class="form-group row" *ngIf="displayCity && editMode==false">
                <label class="col-md-2 col-form-label">City:</label>
                <div class="col-md-7">
                <select 
                  class="form-control"  
                  (change)="onCityChange($event.target.value)"  
                  name="city"
                  required               
                  ngModel>
                  <option 
                    value="{{city.CityID}}" 
                    *ngFor="let city of filteredCities"              
                  > {{city.CityName}}
                </option>
                </select>
              </div>
                <p class="col-md-3" style="color:red;" *ngIf="filteredCities.length <= 0">Currently no cities present of selected region.</p>
              </div>
            <div class="form-group row" *ngIf="editMode">
              <label class="col-md-2 col-form-label">City:</label>
              <div class="col-md-7">
              <select 
                class="form-control"  
                (change)="onCityChange($event.target.value)"  
                name="city"
                required               
                ngModel>
                <option 
                  value="{{city.CityID}}" 
                  *ngFor="let city of filteredCities"              
                > {{city.CityName}}
              </option>
              </select>
            </div>
              <p class="col-md-3" style="color:red;" *ngIf="filteredCities.length <= 0">Currently no cities present of selected region.</p>
            </div>
            <div class="form-group row" *ngIf="displayBranch && editMode==false">
              <label class="col-md-2 col-form-label">Branch:</label>
              <div class="col-md-7">
              <select 
                class="form-control"
                 name="branch"
                 required  
                 ngModel>
                <option 
                  value="{{branch.BranchID}}"                 
                  *ngFor="let branch of filteredBranches"              
                > {{branch.BranchName}}
              </option>
              </select>
            </div>
              <p class="col-md-3" style="color:red;" *ngIf="filteredBranches.length <= 0">Currently no branches present of selected city.</p>
            </div>
            <div class="form-group row" *ngIf="editMode">
                <label class="col-md-2 col-form-label">Branch:</label>
                  <div class="col-md-7">
                <select 
                  class="form-control"
                   name="branch"
                   required  
                   ngModel>
                  <option 
                    value="{{branch.BranchID}}"                 
                    *ngFor="let branch of filteredBranches"              
                  > {{branch.BranchName}}
                </option>
                </select>
                  </div>
                <p class="col-md-3" style="color:red;" *ngIf="filteredBranches.length <= 0">Currently no branches present of selected city.</p>
              </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">License:</label>
              <div class="col-md-7">
              <select class="form-control" name="licence" [ngModel]="defaultLicenseId"  [disabled]="editMode">
                <option 
                  value="{{licence.LicenseID}}|{{licence.LicenseKey}}" 
                  *ngFor="let licence of licences"
                > {{licence.LicenseKey}}
                </option>
              </select>
              </div>
            </div>
  
  
            <fieldset class="form-group" *ngIf="editMode">
                <label>Device Lock : </label>
                <switch [status]="enableSwitch" [onText]="'Lock'" [offText]="'Unlock'" [onColor]="'red'" [offColor]="'green'" [size]="'normal'"
                  (statusChange)="onChange($event)"></switch>
                <!-- <label class="radio-inline" *ngFor="let status of statuses">
                    <input 
                      type="radio"
                      ngModel 
                      name="status" 
                      [value]="status.value">{{status.name}}
                </label> -->
            </fieldset>
            <div class="col-md-12" style="text-align: center">
            <button *ngIf="!editMode" [disabled]="!f.valid || filteredCities.length == 0 || filteredBranches.length == 0" type="submit"  class="btn btn-primary col-md-1">Save</button>
            <button  *ngIf="editMode" [disabled]="!f.valid || filteredCities.length == 0 || filteredBranches.length == 0" type="submit" class="btn btn-primary">Update</button>
          </div>
            <hr>
            <div class="card mb-3" *ngIf="editMode">
                <div class="card-header">Terminal Devices</div>
                    <table class="card-block table table-hover" >
                        <thead>
                        <tr>
                            <th>Device Name</th>
                            <th>Serial No.</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let device of devices ">
                            <td>{{device.deviceName}}</td>
                            <td>{{device.serialNumber}}</td>
                            <td>
                              <app-edit-serial-number-modal 
                                (updateSerialNumber)="serialNumberUpdated($event)" 
                                [serialNumber]="device.serialNumber"  
                                [terminalDeviceId]="device.terminalDeviceId"
                                ></app-edit-serial-number-modal>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                  </div>
          </form>
    </div>
  </div>