<div class="row">
    <div class="col-sm-12">

            <!-- Large modal -->
            <div class="card-block">
                <button class="btn btn-sm btn-info" (click)="open(content)">Clear</button>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Comments</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
<!-- 
                        <div class="alert alert-success" *ngIf="success != '' ">
                            <strong>Well done! {{success}}</strong>
                        </div> -->
                        <div class="alert alert-danger" *ngIf="error != '' ">
                            <strong>Oh snap! {{error}}</strong>
                        </div>

                        <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <div class="form-group">
                              <label  class="col-sm-2 control-label"
                                        for="inputEmail3">Comment</label>
                              <div class="col-sm-10">
                                  <input 
                                    type="text" 
                                    class="form-control" 
                                    id="inputEmail3" 
                                    placeholder="Comment"
                                    ngModel  
                                    required
                                    #comment="ngModel"
                                    name="comment" 
                                    />
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                              </div>
                            </div>
                          </form>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div> -->
                </ng-template>
            </div>
      
    </div>
</div>
