<div class="form-group input-group">
  <input type="text" class="form-control" placeholder="search" (ngModelChange)="onKeyPress($event)" [(ngModel)]="searchTerm">
  <span class="input-group-btn">
    <button class="btn btn-secondary" (click)="clearSearch()" type="button">
      <i class="fa fa-remove"></i>
    </button>
  </span>
</div>