.project-list-tab {
    font-size: 12px;
    .Tbl_1 {
      width: 12%;
    }
    .Tbl_2 {
      width: 20%;
    }
    .Tbl_3 {
      width: 10%;
    }
    .Tbl_4 {
      width: 10%;
    }
    .Tbl_5, .Tbl_6 {
      width: 15%;
    }
    .Tbl_7 {
      width: 7%;
      text-align: center;
    }
    .Tbl_8 {
      width: 7%;
      text-align: right;
    }
    .Tbl_9 {
      width: 15%;
    }
    .Tbl_10 {
      width: 20%;
    }
    .Tbl_11 {
      width: 25%;
    }
 
    th {
      &.Tbl_5, &.Tbl_6, &.Tbl_7, &.Tbl_8 {
        text-align: left;
      }
    }
  }
  .thead-inverse th{background:#778899 !important}
  .card-block{padding:15px; background:#fff; box-shadow:2px 0 10px rgba(0, 0, 0, 0.1); border-radius: 0.25rem;}
  
  .project-list-tab td, .project-list-tab th{
  
  padding:5px 10px !important;vertical-align:baseline;
  line-height:18px;
  }
  
  
  .project-list-tab td .badge{ border-radius:2px !important; padding:4px 5px; min-width:70px; margin:0 !important}
  
  .project-list-tab td .btn{padding:4px 10px; font-size:11px; font-weight:600;border:none !important; border-radius:2px !important}
  
  .table .thead-inverse th{padding:8px !important}
  
  .input-group{
    padding: 15px !important;
    padding-left: 0px !important;
    
    }