<div [@routerTransition]>
  <app-page-header [heading]="'Terminal Uptime'" [icon]="'fa-table'"></app-page-header>
  <app-reports-template
    [tableHeadersArray]="['Terminal Name','Network Status','Reason', 'Log Date']" 
    [objectProps]="['TerminalName','NetworkStatus','Reason', 'LogDate']" 
    [fileName] = "'Terminal-Uptime'"
    [service] = "'terminals-uptime'"
    ></app-reports-template>
</div>