.project-list-tab {
    font-size: 12px;
    .Tbl_1 {
      width: 5%;
    }
    .Tbl_2 {
      width: 15%;
    }
    .Tbl_3 {
      width: 8%;
    }
    .Tbl_4 {
      width: 8%;
    }
    .Tbl_5 {
      width: 8%;
    }
    .Tbl_6 {
      width: 12%;
    }
    .Tbl_7 {
      width: 8%;
      text-align: center;
      font-size: 15px;
    }
    .Tbl_8 {
      width: 8%;
      text-align: center;
    }
    .Tbl_9 {
        width: 8%;
        text-align: center;
    }
    .Tbl_10 {
      width: 20%;
    }
    .Tbl_11 {
      width: 25%;
    }
  }
  .thead-inverse th{background:#778899 !important}
  .card-block{padding:15px !important; background:#fff; box-shadow:2px 0 10px rgba(0, 0, 0, 0.1); border-radius: 0.25rem;}
  
  .project-list-tab td, .project-list-tab th{
  
  padding:5px 10px !important;vertical-align:baseline;
  line-height:18px;
  }
  
  
  .project-list-tab td .badge{ border-radius:2px !important; padding:4px 5px; min-width:70px; margin:0 !important}
  
  .project-list-tab td .btn{padding:4px 10px; font-size:11px; font-weight:600;border:none !important; border-radius:2px !important}
  
  .table .thead-inverse th{padding:8px !important}
 
 .clearfix:before, .clearfix:after {
     display: table;
     content: "";
     line-height: 0
 }
 .clearfix:after {
     clear: both
 }
 .tab-content {padding:0 0 20px 0}
 .tabs-linearrow .nav-tabs > li.active > a {
    margin: 0 !important;
    color: #e91e63;
  }
  
  .nav-tabs li a {
    font-weight: 400;
    color: #303f9f;
  }
  .horz-form{
    padding: 30px
    
    }
    
    .tab-content {
        padding: 20px;
        background: #fff;
        border: 1px solid #e4e4e4;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      }
      
      .nav {
        cursor: inherit;
        > li {
          position: relative;
          > a {
            color: #535353;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            &:focus {
              background-color: transparent;
            }
          }
        }
      }
      
      .nav-tabs {
        border-bottom: none;
        > li {
          margin-bottom: -1px;
          font-weight: 500;
          z-index: 999;
          &.active > a {
            -webkit-transition: 0.22s ease-in;
            -o-transition: 0.22s ease-in;
            transition: 0.22s ease-in;
            box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.02), -1px 0 0 rgba(0, 0, 0, 0.015), 1px 0 0 rgba(0, 0, 0, 0.015);
            background-color: #fff;
            &:hover, &:focus {
              background-color: #fff;
            }
          }
          > a:hover {
            color: #e91e63;
            border-color: transparent;
          }
        }
      }
      .nav> .nav-item > .nav-link.active a {
        
        margin:0 !important;
        color:#e91e63  !important;
        
        }