<div [@routerTransition]>
  <app-page-header [heading]="'Edit Email Notifications'" [icon]="'fa-edit'"></app-page-header>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
  <form (ngSubmit)="onNotificationEmailFormSubmit()" #f="ngForm">
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Alert Name:</label>
      <div class="col-md-6">
        <input class="form-control" name="alertName" type="text" disabled ngModel>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Email To:</label>
      <div class="col-md-6">
        <input 
        class="form-control" 
        name="emailTo" 
        type="email" 
        #emailTo="ngModel" 
        pattern="(([^@\s]+@[^@\s]+.[^@\s]+)\,)*(([^@\s]+@[^@\s]+.[^@\s\,.]+$))"
        ngModel 
        required>
      </div>
      <div class="form-control-feedback col-md-2" *ngIf="emailTo.errors && (emailTo.dirty || emailTo.touched)">
          <p style="color:red;" *ngIf="emailTo.errors.required">Required</p>                  
        <p style="color:red;" *ngIf="emailTo.errors.pattern && emailTo.touched">Email pattern not valid</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Email CC:</label>
      <div class="col-md-6">
        <input 
        class="form-control" 
        name="emailCC" 
        type="text" 
        #emailCC="ngModel" 
        pattern="(([^@\s]+@[^@\s]+.[^@\s]+)\,)*(([^@\s]+@[^@\s]+.[^@\s\,.]+$))"
        ngModel>
      </div>
      <div class="form-control-feedback col-md-2" *ngIf="emailCC.errors && (emailCC.dirty || emailCC.touched)">                 
        <p style="color:red;" *ngIf="emailCC.errors.pattern && emailCC.touched">Email pattern not valid</p>
      </div>
    </div>
    <br>
    <div class="col-md-8 btn-align" style="text-align: center">
      <button type="submit" class="btn btn-primary col-md-2">Update</button>
    </div>
  </form>
</div>