<div class="card-block project-list-tab">
  <table class="table table-bordered table-striped">
    <thead class="thead-inverse">
      <tr>
        <th *ngFor="let header of tableHeaders">{{header}}</th>
      </tr>
    </thead>
    <tbody *ngIf="!errorMsg;else emptyDataBody">
      <tr *ngFor="let auditLog of inputData | filter:searchKeyWords | paginate: { itemsPerPage: 10, currentPage: p }">
        <td *ngFor="let key of dataKeys" class="Tbl_1">{{ auditLog[key] }}</td>
      </tr>
    </tbody>
    <ng-template #emptyDataBody>
      <tbody>
        <tr *ngFor="let auditLog of inputData | paginate: { itemsPerPage: 10, currentPage: p }">
          <td colspan="5" style="text-align:center">{{errorMsg}}</td>
        </tr>
      </tbody>
    </ng-template>
  </table>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>