<div [@routerTransition]>
  <app-page-header [heading]="'Issues'" [icon]="'fa-table'"></app-page-header>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
  <div class="col-sm-10" *ngIf="terminals.length == 0">
    <div class="alert alert-success">
      Currently there are no issues to resolve.
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card-block project-list-tab">
        <table class="table table-bordered table-striped">
          <thead class="thead-inverse">
            <tr>
              <th>Terminal Name</th>
              <th>IP Adddress</th>
              <th>Terminal Status</th>
              <th>Branch Name</th>
              <th>Error Status</th>
              <th>Error Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let terminal of terminals  | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{terminal.TerminalName}}</td>
              <td>{{terminal.IpAddress}}</td>
              <td>{{terminal.Status | status:2}}</td>
              <td>{{terminal.BranchName}}</td>
              <td>{{'Crtitical'}}</td>
              <td>{{terminal.Reason}}</td>
              <td>
                <app-modal 
                  (updateIssueStatus)="statusUpdated($event)" 
                  [terminalId]="terminal.TerminalID"
                  ></app-modal>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <!-- <ng-template #noTerminals>
      <div class="col-lg-12">
        <div class="alert alert-danger">
          <strong>Oh snap!</strong> {{error}}
        </div>
      </div>
    </ng-template> -->
  </div>
</div>