<div [@routerTransition]>
  <app-page-header [heading]="'Alert Logs'" [icon]="'fa-table'"></app-page-header>
  <app-reports-template
    [tableHeadersArray]="['Terminal Name','Device Name','Description','Log Date']" 
    [objectProps]="['TerminalName', 'DeviceName', 'Description', 'LogDate']" 
    [fileName] = "'Alert-Logs'"
    [service] = "'alert-log'"
    ></app-reports-template>
</div>