<div [@routerTransition]>
  <app-page-header [heading]="'Terminals'" [icon]="'fa-table'"></app-page-header>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
  <!-- <div class="col-sm-10" *ngIf="terminals.length==0">
      <div class="alert alert-success">
        Currently there are no terminals registered.
      </div>
    </div> -->
  <div class="row">
    <div class="col col-sm-6">
      <div class="form-group input-group">
        <input type="text" class="form-control" [(ngModel)]="searchTerm">
        <span class="input-group-btn">
          <button class="btn btn-secondary" (click)="clearSearch()" type="button">
            <i class="fa fa-remove"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="col col-sm-6 ">
      <div class="form-group input-group">
        <button type="button" routerLink="new" class="btn btn-primary">New Terminal</button>
      </div>
    </div>
    <div class="col col-md-12" *ngIf="display; else noTerminals">      
      <div class="card-block project-list-tab">
        <table class="table table-bordered table-striped">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>Terminal Name</th>
              <th>IP Address</th>
              <th>MAC Address</th>
              <th>Keep Alive Timer</th>
              <th>Branch Name</th>
              <th>Admin Lock</th>
              <th style="text-align: center">Status</th>
              <th style="text-align: center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let terminal of terminals |filter:searchTerm | paginate: { itemsPerPage: 10, currentPage: p }">
              <th class="Tbl_1" scope="row">{{terminal.TerminalID}}</th>
              <td class="Tbl_2">{{terminal.TerminalName}}</td>
              <td class="Tbl_3">{{terminal.IpAddress}}</td>
              <td class="Tbl_4" >{{terminal.MacAddress}}</td>
              <td class="Tbl_5">{{terminal.KeepAliveInterval}}</td>
              <td class="Tbl_6">{{terminal.BranchName}}</td>
              <td class="Tbl_6">{{terminal.isAdminLock | status:'admin-lock'}}</td>
              <td class="Tbl_7">
                <p [ngClass]="terminal.Status=='1' ?  'badge badge-success' : 'badge badge-danger'">{{terminal.Status | status:2}}</p>
              </td>
              <td class="Tbl_8">
                <button type="button" routerLink="{{terminal.TerminalID}}/edit" class="btn btn-sm btn-info">Edit</button>
              </td>
            </tr>            
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <ng-template #noTerminals>
        <div class="col-lg-12">
            <div class="alert alert-danger">
                <strong>Oh snap!</strong> {{error}}
            </div>
        </div>
    </ng-template>
  </div>
</div>