<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block "> 
                <ngb-tabset class="clearfix tabs-linearrow nav-tabs" (click)="reloadTab($event)">
                    <ngb-tab class="tab-content tab-pane active" id="firstTab" title="Terminal" >
                      <ng-template ngbTabContent>
                          <div class="col col-md-12 horz-form">
                              <form class="form-horizontal" (ngSubmit)="onTerminalFormSubmit()" #f="ngForm">
                                  <div class="form-group row">
                                    <label class="col-md-2 col-form-label"> Terminal Name:</label>
                                    <div class="col-md-8">
                                    <input 
                                      class="form-control"
                                      name="terminalName"
                                      required
                                      pattern="[a-zA-Z0-9 ]+" 
                                      ngModel
                                      maxlength="30"
                                      #terminalName="ngModel"
                                    >
                                  </div>
                                    <div class="form-control-feedback col-md-2" *ngIf="terminalName.errors && (terminalName.dirty || terminalName.touched)">
                                      <p style="color:red;" *ngIf="terminalName.errors.required">Required</p>                  
                                      <p style="color:red;" *ngIf="terminalName.errors.pattern">Only alphanumeric characters are allowed</p>
                                    </div>
                                  
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-2 col-form-label">IP Address:</label>
                                    <div class="col-md-8">
                                    <input 
                                      class="form-control"
                                      name="ipAddress"
                                      required
                                      ngModel
                                      maxlength="50"
                                      #ipAddress="ngModel"
                                    >
                                  </div>
                                    <div class="form-control-feedback col-md-2" *ngIf="ipAddress.errors && (ipAddress.dirty || ipAddress.touched)">
                                      <p style="color:red;" *ngIf="ipAddress.errors.required">Required</p>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-2 col-form-label"> MAC Address:</label>
                                    <div class="col-md-8">
                                    <input 
                                      class="form-control"
                                      name="macAddress"
                                      required
                                      ngModel
                                      maxlength="50"
                                      #macAddress="ngModel"
                                    >
                                  </div>
                                    <div class="form-control-feedback col-md-2" *ngIf="macAddress.errors && (macAddress.dirty || macAddress.touched)">
                                      <p style="color:red;" *ngIf="macAddress.errors.required">Required</p>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Keep Alive Timer (minutes):</label>
                                    <div class="col-md-8">
                                    <input 
                                      class="form-control"
                                      name="keepAliveTimer"
                                      required
                                      pattern="[0-9]+" 
                                      ngModel
                                      maxlength="3"
                                      #keepAliveTimer="ngModel"
                                    >
                                    </div>
                                    <div class="form-control-feedback" *ngIf="keepAliveTimer.errors && (keepAliveTimer.dirty || keepAliveTimer.touched)">
                                      <p style="color:red;" *ngIf="keepAliveTimer.errors.required">Required</p>                  
                                      <p style="color:red;" *ngIf="keepAliveTimer.errors.pattern">Only numeric characters are allowed</p>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Region:</label>
                                    <div class="col-md-8">
                                    <select 
                                      class="form-control" 
                                      (change)="onRegionChange($event.target.value)"   
                                      name="region"
                                      required
                                      ngModel
                                      >
                                      <option 
                                        value="{{region.RegionID}}" 
                                        *ngFor="let region of regions; let i =index"
                                      > {{region.RegionName}}
                                      </option>
                                    </select>
                                    </div>
                                  </div>
                                  <div class="form-group row" *ngIf="displayCity && editMode==false">
                                      <label class="col-md-2 col-form-label">City:</label>
                                      <div class="col-md-8">
                                      <select 
                                        class="form-control"  
                                        (change)="onCityChange($event.target.value)"  
                                        name="city"
                                        required               
                                        ngModel>
                                        <option 
                                          value="{{city.CityID}}" 
                                          *ngFor="let city of filteredCities"              
                                        > {{city.CityName}}
                                      </option>
                                      </select>
                                      </div>
                                      <p class="col-md-2" style="color:red;" *ngIf="filteredCities.length <= 0">Currently no cities present of selected region.</p>
                                    </div>
                                  <div class="form-group row" *ngIf="editMode">
                                    <label class="col-md-2 col-form-label">City:</label>
                                    <div class="col-md-8">
                                    <select 
                                      class="form-control"  
                                      (change)="onCityChange($event.target.value)"  
                                      name="city"
                                      required               
                                      ngModel>
                                      <option 
                                        value="{{city.CityID}}" 
                                        *ngFor="let city of filteredCities"              
                                      > {{city.CityName}}
                                    </option>
                                    </select>
                                    </div>
                                    <p class="col-md-2" style="color:red;" *ngIf="filteredCities.length <= 0">Currently no cities present of selected region.</p>
                                  </div>
                                  <div class="form-group row" *ngIf="displayBranch && editMode==false">
                                    <label class="col-md-2 col-form-label">Branch:</label>
                                    <div class="col-md-8">
                                    <select 
                                      class="form-control"
                                       name="branch"
                                       required  
                                       ngModel>
                                      <option 
                                        value="{{branch.BranchID}}"                 
                                        *ngFor="let branch of filteredBranches"              
                                      > {{branch.BranchName}}
                                    </option>
                                    </select>
                                    </div>
                                    <p class="col-md-2" style="color:red;" *ngIf="filteredBranches.length <= 0">Currently no branches present of selected city.</p>
                                  </div>
                                  <div class="form-group row" *ngIf="editMode">
                                      <label class="col-md-2 col-form-label">Branch:</label>
                                      <div class="col-md-8">
                                      <select 
                                        class="form-control"
                                         name="branch"
                                         required  
                                         ngModel>
                                        <option 
                                          value="{{branch.BranchID}}"                 
                                          *ngFor="let branch of filteredBranches"              
                                        > {{branch.BranchName}}
                                      </option>
                                      </select>
                                      </div>
                                      <p class="col-md-2" style="color:red;" *ngIf="filteredBranches.length <= 0">Currently no branches present of selected city.</p>
                                    </div>
                                  <div class="form-group row">
                                    <label class="col-md-2 col-form-label">License:</label>
                                    <div class="col-md-8">
                                    <select class="form-control" name="licence" [ngModel]="defaultLicenseId"  [disabled]="editMode">
                                      <option 
                                        value="{{licence.LicenseID}}|{{licence.LicenseKey}}" 
                                        *ngFor="let licence of licences"
                                      > {{licence.LicenseKey}}
                                      </option>
                                    </select>
                                    </div>
                                  </div>
                        
                        
                                  <div class="form-group row" *ngIf="editMode">
                                      <label class="col-md-2 col-form-label">Device Lock : </label>
                                      <div class="col-md-8">
                                      <switch  [status]="enableSwitch" [onText]="'Lock'" [offText]="'Unlock'" [onColor]="'red'" [offColor]="'green'" [size]="'normal'"
                                        (statusChange)="onChange($event)"></switch>
                                      <!-- <label class="radio-inline" *ngFor="let status of statuses">
                                          <input 
                                            type="radio"
                                            ngModel 
                                            name="status" 
                                            [value]="status.value">{{status.name}}
                                      </label> -->
                                      </div>
                                    </div>
                        
                                  <button *ngIf="!editMode" [disabled]="!f.valid || filteredCities.length == 0 || filteredBranches.length == 0" type="submit" class="btn btn-primary">Save</button>
                                  <button  *ngIf="editMode" [disabled]="!f.valid || filteredCities.length == 0 || filteredBranches.length == 0" type="submit" class="btn btn-primary">Update</button>
                                  <hr>
                              </form>
                          </div>
                          
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Terminal Devices">
                      <ng-template ngbTabContent>
                        <div class="card-block project-list-tab" *ngIf="editMode">
                          <!-- <div class="card-header">Terminal Devices</div> -->
                          <table class="table table-bordered table-striped">
                            <thead class="thead-inverse">
                              <tr>
                                <th>Device Name</th>
                                <th>Serial No.</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let device of devices ">
                                <td >{{device.deviceName}}</td>
                                <td>{{device.serialNumber}}</td>
                                <td>
                                  <app-edit-serial-number-modal 
                                    (updateSerialNumber)="serialNumberUpdated($event)" 
                                    [serialNumber]="device.serialNumber" 
                                    [terminalDeviceId]="device.terminalDeviceId"
                                    ></app-edit-serial-number-modal>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
            </div>
        </div>
      
    </div>
  </div>