<div class="login-page" [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.7' }"></ngx-loading>
    <div class="row">
        <div class="col col-xl-4 col-lg-4">
        </div>
        <div class="col col-xl-4 col-lg-4">
            <div class="alert alert-danger" *ngIf="errorMsg!=''">
                <strong>Oh snap!</strong> {{errorMsg}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="email" id="email" class="form-control input-underline input-lg" name="email" ngModel required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            placeholder="Email" maxlength="30" #email="ngModel">
                        <span class="help-block" *ngIf="email.invalid && email.touched">Please enter valid email!</span>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control 
                            input-underline input-lg" name="password" ngModel required placeholder="Password" minlength="6"
                            maxlength="10" #password="ngModel">
                        <div *ngIf="password.errors && password.touched">
                            <span class="help-block" *ngIf="password.errors.required">Password is required!</span>
                            <span class="help-block" *ngIf="password.errors.minlength">Please enter valid password!</span>
                        </div>
                    </div>
                </div>
                <button class="btn rounded-btn" [disabled]="!f.valid" type="submit"> Log in </button>
            </form>
        </div>
    </div>
</div>