<div [@routerTransition]>
  <app-page-header [heading]="'Kiosk Details'" [icon]="'fa-table'"></app-page-header>
  <app-reports-template
    [tableHeadersArray]="['Terminal Name','CNIC','Transaction Name', 'Cash In', 'Log Date']" 
    [objectProps]="['TerminalName','CNIC','TransactionName', 'CashIn', 'LogDate']" 
    [fileName] = "'Kiosk-Details'"
    [service] = "'kiosk-details'"
    ></app-reports-template>
</div>