<div [@routerTransition]>
  <app-page-header [heading]="'Terminals Live Uptime'" [icon]="'fa-table'"></app-page-header>
  <div class="col-sm-10" *ngIf="responseData.length==0">
    <!-- <div class="alert alert-success" ngIf="noData">
      {{noData}}
    </div> -->
    <div class="alert alert-danger" *ngIf="error">
      {{error}}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <div class="card-block project-list-tab">
        <table class="table table-bordered table-striped">
          <thead class="thead-inverse">
            <tr>
              <th>Terminal Name</th>
              <th>Network Status</th>
              <th>Reason</th>
              <th>Log Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of responseData">
              <td [ngClass]="getTerminalDisconnectColorIfDisconnected(data.NetworkStatus)" scope="row">{{data.TerminalName}}</td>
              <td [ngClass]="getTerminalDisconnectColorIfDisconnected(data.NetworkStatus)" >{{data.NetworkStatus}}</td>
              <td [ngClass]="getTerminalDisconnectColorIfDisconnected(data.NetworkStatus)" >{{data.Reason}}</td>
              <td [ngClass]="getTerminalDisconnectColorIfDisconnected(data.NetworkStatus)" >{{data.LogDate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>