<div [@routerTransition]>
  <app-page-header [heading]="'Transaction Summary'" [icon]="'fa-table'"></app-page-header>
  <app-reports-template
    [tableHeadersArray]="['Terminal Name','Transaction Name', 'Response', 'Total Count', 'Log Date']" 
    [objectProps]="['TerminalName', 'TransactionName', 'Response', 'TotalCount', 'LogDate']" 
    [fileName] = "'Transaction-Summary'"
    [service] = "'transaction-summary'"
    ></app-reports-template>
</div>