<div [@routerTransition]>
    <app-page-header [heading]="'Email Notifications'" [icon]="'fa-table'"></app-page-header>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
    <div class="row">
        
        <div class="col col-md-12" *ngIf="display===true; else noUsers">
            <div class="card-block project-list-tab">
                <table class="table table-bordered table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Notification Alert</th>
                            <th>Email To</th>
                            <th>Email CC</th>
                            <th style="text-align: center">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let emailNotification of emailNotificationsList">
                            <th class="Tbl_1" scope="row">{{emailNotification.NotificationAlert}}</th>
                            <td class="Tbl_2">{{emailNotification.EmailTo}}</td>
                            <td class="Tbl_3">{{emailNotification.EmailCC}}</td>
                            <td class="Tbl_4">
                                <button type="button" routerLink="{{emailNotification.NotificationAlert}}/edit"  class="btn btn-sm btn-info">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ng-template #noUsers>
            <div class="col-lg-12">
                <div class="alert alert-danger">
                    <strong>Oh snap!</strong> {{userErrorMessage}}
                </div>
            </div>
        </ng-template>
    </div>
</div>