<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
<!-- <form class="form-inline " (ngSubmit)="onFormSubmit()" #f="ngForm">
    <label class="control-label col-md-1" for="inlineFormInput">From:</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0 col-md-3">
      <input type="text" class="form-control" required placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fromDate" ngbDatepicker
        #from="ngbDatepicker">
      <div class="input-group-addon" (click)="from.toggle()">
        <span class="fa fa-calendar"></span>
      </div>
    </div>
    <label class="control-label col-md-1" for="inlineFormInputGroup">To:</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0 col-md-3">
      <input type="text" class="form-control" required placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="toDate" ngbDatepicker #to="ngbDatepicker">
      <div class="input-group-addon" (click)="to.toggle()">
        <span class="fa fa-calendar"></span>
      </div>
    </div>
    <button [disabled]="!f.valid" type="submit" class="btn btn-primary col-md-1">Filter</button>
  </form>
<br> -->
<form class="form-inline" (ngSubmit)="onFormSubmit()" #f="ngForm">

  <label class="control-label col-md-1" for="inlineFormInput">From:</label>
  <span class="col-md-2">
    <angular2-date-picker [(ngModel)]="fromDate" name="from" [settings]="settings"></angular2-date-picker>
  </span>
  <!-- <div class="input-group mb-2 mr-sm-2 mb-sm-0 col-md-3">
    <input type="text" class="form-control" required placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fromDate" ngbDatepicker
      #from="ngbDatepicker">
    <div class="input-group-addon" (click)="from.toggle()">
      <span class="fa fa-calendar"></span>
    </div>
  </div> -->



  <label class="control-label col-md-1" for="inlineFormInputGroup">To:</label>
  <span class="col-md-2">
    <angular2-date-picker [(ngModel)]="toDate" name="to" [settings]="settings"></angular2-date-picker>
  </span>
  <!-- <div class="input-group mb-2 mr-sm-2 mb-sm-0 col-md-3">
    <input type="text" class="form-control" required placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="toDate" ngbDatepicker #to="ngbDatepicker">
    <div class="input-group-addon" (click)="to.toggle()">
      <span class="fa fa-calendar"></span>
    </div>
  </div> -->
  <span class="col-md-4">
    <button [disabled]="!f.valid" type="submit" class="btn btn-primary col-md-2 push-md-2">Filter</button>
  </span>
</form>

<br>