<div class="input-group col-md-12 ">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0 col-md-6">
    <input type="text" class="form-control col-md-12" placeholder="search" (ngModelChange)="onKeyPress($event)" [(ngModel)]="searchTerm">
    <span class="input-group-btn">
      <button class="btn btn-secondary" (click)="clearSearch()" type="button">
        <i class="fa fa-remove"></i>
      </button>
    </span>
  </div>
  <div class="col-md-6">
    <button (click)="exportToExcel()" *ngIf="!(dataToBeExported.length == 0)" class="btn btn-primary  pull-right">Export to excel</button>
  </div>
</div>