<div [@routerTransition]>
    <app-page-header [heading]="'Terminals Inventory Status'" [icon]="'fa-table'"></app-page-header>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
    <div class="row">
        <div class="col col-md-12">
            <div class="card-block project-list-tab">
                <table class="table table-bordered table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th colspan="1" rowspan="2" style="text-align: center;">Terminal Name</th>
                            <th colspan="5" style="text-align: center;">Cards</th>
                            <th colspan="8" style="text-align: center;">Cash</th>
                        </tr>
                        <tr>
                            <th>Total Cards</th>
                            <th>Total Dispensed</th>
                            <th>Total Rejected</th>
                            <th>Total Retracted</th>
                            <th>Available Card</th>
                            <!-- break -->
                            <th>Total Cash</th>
                            <th>5000</th>
                            <th>1000</th>
                            <th>500</th>
                            <th>100</th>
                            <th>50</th>
                            <th>20</th>
                            <th>10</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="dataToDisplay.length > 0; else noTerminals">

                        <tr *ngFor="let data of dataToDisplay">
                            <td class="Tbl_2">{{data.TerminalName}}</td>
                            <td class="Tbl_3">{{data.TotalCards}}</td>
                            <td class="Tbl_3">{{data.TotalDispensed}}</td>
                            <td class="Tbl_3">{{data.TotalRejected}}</td>
                            <td class="Tbl_3">{{data.TotalRetracted}}</td>
                            <td class="Tbl_3">{{data.AvailableCard}}</td>
                            <td class="Tbl_3">{{data.TotalCash}}</td>
                            <td class="Tbl_4">{{data.Note5000}}</td>
                            <td class="Tbl_4">{{data.Note1000}}</td>
                            <td class="Tbl_4">{{data.Note500}}</td>
                            <td class="Tbl_4">{{data.Note100}}</td>
                            <td class="Tbl_4">{{data.Note50}}</td>
                            <td class="Tbl_4">{{data.Note20}}</td>
                            <td class="Tbl_4">{{data.Note10}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ng-template #noTerminals>
            <tbody>
                <tr>
                    <td colspan="14" style="text-align:center">{{error}}</td>
                </tr>
            </tbody>
            <!-- <div class="col-lg-12">
                  <div class="alert alert-danger">
                      <strong>Oh snap!</strong> {{error}}
                  </div>
              </div> -->
        </ng-template>
    </div>
</div>