.checkbox {
    display: block;
    position: relative;
    padding-left: 10px;
    margin-bottom: 12px;
    cursor: pointer;
  }
  .btn-align .btn {
    padding: 5px;
    margin-left: 15px;
    
    
    }