<div [@routerTransition]>
    <app-page-header [heading]="'User'" [icon]="'fa-edit'"></app-page-header>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
    <div class="row">
      <div class="col col-md-12">
        <div class="alert alert-success" *ngIf="success != '' ">
          <strong>Well done!</strong>
          {{success}}
        </div>
        <div class="alert alert-danger" *ngIf="error != '' ">
          <strong>Oh snap!</strong>
          {{error}}
        </div>
      </div>
    </div>
    <form (ngSubmit)="onUserFormSubmit()" #f="ngForm">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Username:</label>
                <div class="col-md-6">
                <input                 
                  class="form-control"
                  name="username"
                  type="text" 
                  required
                  pattern="[a-zA-Z ]+" 
                  ngModel
                  maxlength="20"
                  #username="ngModel"
                  >
                </div>
                <div class="form-control-feedback col-md-2" *ngIf="username.errors && (username.dirty || username.touched)">
                  <p style="color:red;" *ngIf="username.errors.required">Required</p>                  
                  <p style="color:red;" *ngIf="username.errors.pattern">Only alphabetic characters are allowed</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 col-form-label">Full Name:</label>
                <div class="col-md-6">
                <input 
                  class="form-control"
                  name="fullname" 
                  required
                  type="text"
                  pattern="[a-zA-Z ]+"  
                  ngModel
                  maxlength="30"
                  #fullname="ngModel"
                  >
                </div>
                <div class="form-control-feedback col-md-2" *ngIf="fullname.errors && (fullname.dirty || fullname.touched)">
                  <p style="color:red;" *ngIf="fullname.errors.required">Required</p>
                  <p style="color:red;" *ngIf="fullname.errors.pattern">Only alphabetic characters are allowed</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 col-form-label">Mobile:</label>
                <div class="col-md-6">
                <input 
                  class="form-control"
                  name="mobile"
                  type="text"
                  pattern="[0-9]+" 
                  required 
                  ngModel
                  maxlength="11"
                  #mobile="ngModel"
                  >
                </div>
                <div class="form-control-feedback col-md-2" *ngIf="mobile.errors && (mobile.dirty || mobile.touched)">
                  <p style="color:red;" *ngIf="mobile.errors.required">Required</p>
                  <p style="color:red;" *ngIf="mobile.errors.pattern">Only numeric characters are allowed</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 col-form-label">Email:</label>
                <div class="col-md-6">
                <input 
                  class="form-control"
                  name="email"
                  type="email" 
                  required 
                  ngModel
                  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  maxlength="50"
                  #email="ngModel"
                  >
                </div>
                <div class="form-control-feedback col-md-2" *ngIf="email.errors && (email.dirty || email.touched)">
                  <p style="color:red;" *ngIf="email.errors.required">Required</p>
                  <p style="color:red;" *ngIf="email.errors.pattern && email.touched">Email pattern not valid</p>
                </div>
              </div>
              <div class="form-group row" *ngIf="editMode">
                <label class="col-md-2 col-form-label">User Status : </label>
                <div class="col-md-6">
                <switch [status]="enableSwitch" [onText]="'Enable'" [offText]="'Disable'" [onColor]="'green'" [offColor]="'red'" [size]="'normal'"
                  (statusChange)="onChange($event)"></switch>
                </div>
              </div>
              <br>
            <div class="form-group row">
                <!--<h5>Roles</h5>              -->
                <label class="col-md-2 col-form-label">Roles : </label>
                <div class="col-md-6" *ngIf="editMode; else editModeRoles">
                  <div class="role-list checkbox" *ngFor="let role of editRolesValues">
                    <label class="test">
                        <input 
                          type="checkbox" 
                          name="role" 
                          (change)="onUserRoleCheckBoxChange($event)"        
                          [checked]= "role.checked" 
                          value="{{role.roleId}}" 
                          > {{role.roleName}}
                    </label>
                  </div>
                </div>
                <ng-template #editModeRoles>
                  <div class="checkbox" *ngFor="let role of roles">
                    <label>
                        <input 
                          type="checkbox" 
                          name="role" 
                          (change)="onUserRoleCheckBoxChange($event)"                        
                          ngModel
                          value="{{role.roleId}}" 
                          > {{role.roleName}}
                    </label>
                  </div>
                </ng-template>
            </div>
        <div class="col-md-8 btn-align" style="text-align: center">
        <button  *ngIf="!editMode"  [disabled]="!f.valid || rolesArray.length==0" type="submit" class="btn btn-primary col-md-2">Save</button>
        <button *ngIf="editMode" type="submit" class="btn btn-primary col-md-2">Update</button>
        <button *ngIf="!editMode" type="reset" (click)="onUserFormReset()" class="btn btn-warning col-md-2">Reset</button>
        <button  *ngIf="editMode" type="button" (click)="onResetPassword()" class="btn btn-danger col-md-2">Reset Password</button>
      </div>    
      </form>
  </div>