<div [@routerTransition]>
    <app-page-header [heading]="'Terminal Serial Numbers'" [icon]="'fa-edit'"></app-page-header>
    <div class="col col-md-12">
      <form (ngSubmit)="onTerminalSerialNumberFormSubmit()" #f="ngForm">
        <div class="form-group row" *ngFor="let device of devices">
          <label class="col-md-2 col-form-label">{{device.DeviceName}}</label>
          <div class="col-md-6">
          <input 
            class="form-control" 
            name="{{device.DeviceID}}" 
            required
            ngModel 
            maxlength="30">     
          </div>   
        </div>
        <div class="col-md-12" style="text-align: center">
          <button [disabled]="!f.valid" type="submit" class="btn btn-primary col-md-1">Save</button>
        </div>
        <hr>
      </form>
    </div>
  </div>