<div class="row">
    <div class="col-sm-12">
        <div class="card-block">
            <button class="btn btn-sm btn-info" (click)="open(content)">Edit</button>
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Serial Number</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" *ngIf="error != '' ">
                        <strong>Oh snap! {{error}}</strong>
                    </div>

                    <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input class="form-control" placeholder="serial number" [ngModel]="serialNumber" required name="serialNumber" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" [disabled]="!f.valid" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>
        </div>
    </div>
</div>