<div [@routerTransition]>
    <div class="container">
        <div class="row">
            <div class="col-md-3" *ngFor="let terminal of monitoringData;let i=index">
                <div class="col-md-12 col-sm-12">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover" [ngStyle]="{backgroundColor: getOverallTerminalStatusColor(terminal.overallTerminalStatus)}">
                                </div>
                                <div class="user">
                                    <i [ngClass]="getTerminalConnectionImageBasedOnDatabaseValue(terminal.status)" aria-hidden="true"></i>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">{{terminal.terminalName}}</h3>
                                        <p class="profession">
                                            <i style="color: blue" class="fa fa-home" aria-hidden="true"></i> &nbsp; {{terminal.branchName}}</p>
                                        <p class="text-center">{{terminal.updateDate}}</p>
                                        <p class="text-center" *ngIf="terminal.overallTerminalStatus==0" style="font-size: 11px; color: red">{{terminal.overallTerminalStatusReason}}</p>
                                    </div>
                                    <div class="footer">
                                        <span class="devicestatus">
                                            <i class="fa fa-mail-forward"></i> Device Status</span>
                                    </div>
                                </div>
                            </div>
                            <div class="back">
                                <div class="header" [ngStyle]="{backgroundColor: getOverallTerminalStatusColor(terminal.overallTerminalStatus)}">
                                    <h3 class="name">{{terminal.terminalName}}</h3>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <table class="table">
                                            <tbody>
                                                <tr *ngFor="let device of terminal.devices">
                                                    <td>{{device.deviceName}}</td>
                                                    <td>
                                                        <button type="button" [ngClass]="getStyle(device.deviceStatus)" placement="left" ngbTooltip="{{device.deviceReason}}">{{device.deviceStatus | status:3}}
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="footer"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-200"></div>
    </div>
</div>