<div [@routerTransition]>
    <app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
    <div class="row">
        <div class="col col-sm-6">
            <div class="form-group input-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" (click)="clearSearch()" type="button">
                        <i class="fa fa-remove"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col col-sm-6 ">
            <div class="form-group input-group">
                <button type="button" routerLink="new" class="btn btn-primary">New User</button>
            </div>
        </div>
        <div class="col col-md-12" *ngIf="display===true; else noUsers">
            <div class="card-block project-list-tab">
                <table class="table table-bordered table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>User Name</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th style="text-align: center">User Status</th>
                            <th style="text-align: center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users | filter:searchTerm | paginate: { itemsPerPage: 10, currentPage: p }">
                            <th class="Tbl_1" scope="row">{{user.userId}}</th>
                            <td class="Tbl_2">{{user.username}}</td>
                            <td class="Tbl_3">{{user.fullname}}</td>
                            <td class="Tbl_4">{{user.email}}</td>
                            <td class="Tbl_5">
                                <p [ngClass]="user.status=='1' ?  'badge badge-success' : 'badge badge-danger'">{{user.status | status:2}}</p>
                            </td>
                            <td class="Tbl_6">
                                <button type="button" routerLink="{{user.userId}}/edit" class="btn btn-sm btn-info">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <ng-template #noUsers>
            <div class="col-lg-12">
                <div class="alert alert-danger">
                    <strong>Oh snap!</strong> {{userErrorMessage}}
                </div>
            </div>
        </ng-template>
    </div>
</div>