<div [@routerTransition]>
<app-page-header 
  [heading]="'Terminal Critical Logs'" 
  [icon]="'fa-table'">
</app-page-header>

  <app-reports-template 
    [tableHeadersArray]="['Terminal Name','User Name','Comments', 'Log Date']" 
    [objectProps]="['TerminalName','UserName','Comments', 'LogDate']"
    [fileName]="'Terminal-Critical-Logs'" [service]="'terminals-critical-logs'">
  </app-reports-template>
</div>