<div [@routerTransition]>
  <app-page-header [heading]="'Kiosk Summary'" [icon]="'fa-table'"></app-page-header>
  <app-reports-template
    [tableHeadersArray]="['Account Opening Count','Dispense Count','Cash Deposit Count', 'Log Date']" 
    [objectProps]="['AccountOpeningCount','DispenseCount','CashDepositCount', 'LogDate']" 
    [fileName] = "'Kiosk-Summary'"
    [service] = "'kiosk-summary'"
    ></app-reports-template>
</div>