.main-container{
    margin-top: 60px;
    margin-left: 235px;
    padding: 15px;
    position: relative;
    height:100%;
    min-height:650px;
 }
 
 @media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
 }