<div [@routerTransition]>
  <app-page-header [heading]="'Audit Logs'" [icon]="'fa-table'"></app-page-header>
  <app-reports-template
    [tableHeadersArray]="['Terminal Name','Action','Action Status', 'CNIC','Log Date']" 
    [objectProps]="['TerminalName', 'Action', 'ActionStatus', 'CNIC', 'LogDate']" 
    [fileName] = "'Audit-Logs'"
    [service] = "'audit-log'"
    ></app-reports-template>  
</div>